<!DOCTYPE html>
<html lang = 'en'>
<head>
	<title>currency</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  	<!-- Добавление дополнительного статического CSS файла -->
  	{% load static %}
  	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
	<div class="container">
		<h2 class="text-center">Currency</h2>
	</div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>