{% extends "base_generic.html" %}

{% block content %}
<div class="row">
	<div class="col">
		<input type="text" name="coin">
	</div>
	<div class="col">
		<h3>{{name_currency}} : {{num_currency}} USD</h3>
	</div>
</div>
{% endblock %}